html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito Regular";
}

a {
  text-decoration: none;
  color: #fff;
}

/* ============================== start header ============================== */

header {
  background: url(../images/headerBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  align-items: center;
}

.main-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-item {
  margin: 0 25px;
}

.login-btn {
  background-color: #fff;
  color: #93a5ff;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: "Nunito Bold";
}

.login-btn span {
  margin-left: 10px;
}

.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

.header-content {
  margin-top: 50px;
}

.header-title {
  font-family: Roboto;
  font-size: 40px;
}



.header-caption {
  font-size: 19px;
  opacity: 0.8;
}

.header-txt {
  background-color: #384170;
  color: white;
  padding: 13px 15px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: 2px;
  max-width: 290px;
  width: 100%;
}

.header-txt::placeholder {
  color: #fff;
}

.header-domains {
  background-color: #384170;
  color: white;
  padding: 11px 20px 11px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header-btn {
  margin-left: 25px;
}
